
@{
    ViewBag.Title = "AfterLogin";
}

<h2>AfterLogin</h2>

@if (Session["UserID"] != null)
{
    <div>
        Welcome : <a href="#"> @Session["UserName"] </a><br />
        <a href="/Register/Logout"> Logout</a>
    </div>
}