
@{
    ViewBag.Title = "HoanThanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HoanThanh</h2>
<div class="row">
    <div class="col-md-12">




        <script>
            swal(nameProduct, "Đã được thêm vào giỏ !", "success");
        </script>
    </div>
</div>
